.grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 80px;

    justify-content: center;
}

.bar{
    background-color: #252B43;
    font-family: 'Are You Serious', cursive;
    font-size: xx-large;
}

.texto{
    font-family: 'Are You Serious', cursive;
    font-size: 45px;
    color: #ffff1a;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 150px);
    }
}